<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>AcademIA</title>
  <link rel="stylesheet" href="/static/styleHome.css">
</head>

<body>
  <div class="divMain">
    <div class="div1">
      <h1 id="titulo">
        ACADEM<span class="highlight_I">I</span><span class="highlight_A">A</span>
      </h1>

    </div>
    <div class="text">
      <h1>💪 <strong>O futuro da sua performance começa agora!</strong> 🚀</h1>
    </div>
    <div class="div2">


      <p>Transforme seus treinos com a força da Inteligência Artificial. <br>Descubra qual é o estilo de treino ideal
        para você.</p>
    </div>
    <div class="div3">

      <a href="/Treino_Com_IA">
        <button>Começar Agora 🚀</button>
      </a>
    </div>
    <div class="div4"></div>
  </div>
</body>

</html>